<!doctype html>
<html>
  <head>
    <title>Profile</title>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('nav') -%>
    <h1>Profile Page</h1>
    <h3> Name: <%= data.name %></h3>
    <h3> ID: <%= data.id %></h3>
    <h3> Degree: <%= data.degree %></h3>
    

  </body>
</html>