

            <%- include('partials/header.ejs', {user: user}) -%>

            <div id="main-area" style="text-align: center">
                <h3>
                    Welcome to MeetUp application!
                </h3>

                This is a app to organize in-person events for people with similar interests.
                
            </div>
       
            <%- include('partials/footer.ejs', {user: user}) -%>
    