<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link href="assets/stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
    <body>

        <form id="course-form" method="POST" action="/coursedetails">
            </br></br>
            course ID: <input type="text" name="courseID"></br></br>
            title: <input type="text" name="title"/></br></br>
            term: <input type="text" name="term"></br></br>
            instructor: <input type="text" name="instructor"></br></br></br>

            <button type="submit">Submit</button></br>
        </form>
    </body>
</html>
