<!doctype html>
<html>
  <head>
    <title>courseSearch</title>
    <link href="assets/stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
    <body>

      <h2> Course Search </h2>
      <table border="solid">
        <% if (course) {%>
          <tr>
            <th>
              CourseID
            </th>
            <th>
              Title
            </th>
            <th>
              Term
            </th>
            <th>
              Instructor
            </th>
          </tr>
          <% course.forEach(function(course) { %>
            <tr>
              <td> <%= course.CourseID %> </td>
              <td> <%= course.Title %> </td>
              <td> <%= course.Term %> </td>
              <td> <%= course.Instructor %> </td>
              
            </tr>
          <% }); %>
            
   
        <% } else { %>
          <td> No Course Details Available! </td>
        <% } %> 
    
    
        </td>
      </table>

      
    </body>
</html>
