<%- include('partials/header.ejs', {user: user}) -%>
    <h1>
        Contact Page
    </h1>
    <p>

       Contact Details:
        <p>
            Name : Abishek
        </p>
        <p>
            Id: 801149648
        </p>
    </p>
<%- include('partials/footer.ejs') -%>